body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 40px;
  font-weight: 300;
}

.logo {
  width: 100px;
  position: fixed;
  top: 15px;
  left: 20px;
}

.component-Input {
  margin-bottom: 0px;
  width: 100%;
  border-bottom: solid 2px #c9c9c9;
  padding-bottom: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.component-Input__container {
  position: relative;
}

.component-Input .label {
  font-size: 40px;
  color: rgba(200, 200, 200, 0.1);
  margin-left: -2px;
}

.component-Input input {
  padding-right: 50px;
  width: 80%;
  font-size: 40px;
  padding: 0px;
  border: none;
  transition: border 0.3s;
  outline-width: 0;
  background: transparent;
  color: white;
  position: relative;
  text-overflow: ellipsis;
}

.component-Conversation__step .component-Input {
  width: 100%;
  background-color: white;
  color: black;
  box-sizing: border-box;
  padding-bottom: 0px;
  padding-left: 0px;
}

.component-Conversation__step .component-Input input {
  font-size: 16px;
  color: black;
}

.component-Conversation__step .component-Input .label {
  font-size: 14px;
  color: black;
}

.component-Conversation__step .component-Input__extra i {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.component-Conversation__step .component-Input__extra i:hover {
  color: rgba(0, 0, 0, 1);
}

.component-Input__extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.component-Input__extra .dropzone {
  margin-right: 10px;
}

.component-Input__extra i {
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
}

.component-Input__extra i:hover {
  color: rgb(220, 220, 220);
}

.main .component-Input input {
  z-index: 4;
}

.main .component-Input__send {
  z-index: 4;
}

.component-Input__cancel {
  cursor: pointer;
}

.component-Input input {
}

.component-Conversation__step.image {
  width: 45%;
  min-width: 300px;
}

.component-Conversation__step.image img {
  width: 100%;
  border-radius: 5px;
}

html, body, #root, .component-App {
  height: 100%;
}

.component-App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-App__content {
  width: 50vw;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.component-Conversation {
}

body {
  background: #CB356B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #c0392b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.component-Conversation__step {
  background-color: #c0392b;
  background-color: white;

  border-radius: 5px;
  position: relative;
  color: white;
  width: 100%;
  line-height: 1.5;
  margin-top: 20px;
  color: black;
}

.history .component-Conversation__step {
  opacity: 0.5;
  pointer-events: none;
}

.component-Conversation__step__content {
  padding: 20px;
}

.component-Conversation__step::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: #c0392b;
  background-color: white;
  position: absolute;
  left: -5px;
  top: 50%;
  margin-top: -5px;
}

.null {
  left: -8px;

  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  right: -8px;
}

.component-Conversation__step.right::before {
  border: 0px;
  left: auto;
  right: -5px;
}

.component-Conversation__step__bot {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -80px;
  top: 50%;
  margin-top: -25px;
}

.component-Conversation__step__bot img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.component-Conversation__step__bot.right {
  left: auto;
  right: -80px;
}

p {
  margin: 0px;
}

.u-m-0 {
  margin: 0px;
}

.u-m-15 {
  margin-bottom: 15px;
}

.u-m-t-0 {
  margin-top: 0px;
}

.u-m-t-10 {
  margin-top: 10px;
}

.u-m-b-10 {
  margin-bottom: 10px;
}

.u-m-b-15 {
  margin-bottom: 15px;
}

.btn {
  padding: 10px;
  border: 0px;
  background-color: #f7f7f7;
  color: #333;
  border-radius: 5px;
  margin: 10px;
  margin-left: 0px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.2s;
  background-color: #3498db;
  color: white;
}

.btn:hover {
  background-color: rgba(52, 152, 219, 0.9)
}

.component-Conversation__step__options {
  margin-top: 15px;
}

.component-Conversation__step__options__option {
  margin-bottom: 15px;
}

.component-Input__cancel {
  margin-bottom: 0px;
}

.component-examples {
  width: 50vw;
  opacity: 0.3;
  margin-bottom: 25px;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
  color: white;
}

.loader {
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  width: 10px;
  animation: rotate 0.8s infinite linear;
  border-width: 2px;
  border-color: #43cea2;  /* fallback for old browsers */
  border-style: solid;
  border-right-color: transparent;
  border-radius: 50%;
}

.component-Input__container .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

.disabled {
  pointer-events: none;
  opacity: 0.05;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.btn:focus, input:focus, select:focus {
  outline: 0;
}

.component-Input__suggestions {
  width: 100%;
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 3;
  background-color: white;
  height: 205px;
  overflow-y: auto;
  background: #4568DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.component-Input__suggestions__suggestion {
  padding: 10px 5px;
  background-color: rgba(200, 200, 200, 0.1);
  background-color: transparent;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  position: relative;
  z-index: 4;
}

.component-Input__suggestions__suggestion:first-of-type {
  margin-top: 5px;
}

.component-Input__suggestions__suggestion:hover {
  background-color: rgba(200, 200, 200, 0.3);
}

.component-Input__suggestions__suggestion h3 {
  margin: 0px;
}

::-webkit-input-placeholder { /* Chrome */
  color: rgba(255, 255, 255, 0.5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.component-Conversation__step .component-Input ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.component-Conversation__step .component-Input :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.component-Conversation__step .component-Input ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.component-Conversation__step .component-Input :-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.overlay-darken {
  background-color: rgba(52, 73, 94, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: background-color 5s ease;
}

/***

  CSS For hexagons

  mid-width = top-border-left + bottom-border-left
  mid-height = top-border-bottom + bottom-border-top

***/

.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
}

.hexagonsRow .hexagon {
  display: inline-block;
  margin-left: 10px;
}

.hexagonsRow:nth-child(even) {
  margin-left: 155px;
}

.hexagonsRow:nth-child(even) .hexagon {
  margin-top: 5px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}

iframe {
  border: 0px;
  margin-right: 10px;
}

.component-Settings {
  background: #c0392b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow-y: auto;
}

.component-Settings__config {
  text-align: center;
  padding: 50px;
}

.component-Settings__editor {
  text-align: center;
  padding: 50px;
}

.component-Settings__editor a {
  text-decoration: underline;
}

.component-Settings__plugins {
  display: flex;
  flex-wrap: wrap;
}

.component-Settings__plugins__plugin {
  flex: 1 0 25%;
  height: 200px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
}

.component-Settings__plugins__plugin__image {
  width: 50px;
  height: 50px;
}

.component-Settings__plugins__plugin__image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.component-Settings__plugins__plugin__title,
.component-Settings__plugins__plugin__description {
  flex: 1 0 100%;
}

.component-Settings__gear {
  position: fixed;
  top: 10px;
  right: 15px;
  font-size: 30px;
  color: white;
  z-index: 6;
  cursor: pointer;
}

.component-Settings__gear.close {
  top: 20px;
  right: 40px;
  font-size: 20px;
}

@media (max-width: 750px) {
  .component-App__content {
    width: 70vw;
  }
}

@media (max-width: 550px) {
  .component-App__content {
    width: 95vw;
  }

  .component-Conversation__step::before {
    display: none;
  }

  .component-Conversation__step__bot {
    display: none;
  }
}

.markdown p, .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  margin: 0px;
  font-weight: 300;
}

#jsoneditor {
  width: 60vw;
  height: 400px;
  margin: auto;
  background-color: white;
}

.u-w-200 {
  width: 200px;
}

.component-Settings__plugins__plugin {
  position: relative;
}

.component-Settings__plugins__plugin__edit {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.5;
  cursor: pointer;
}
